@font-face {
    font-family: "display-font";
    src: url(../fonts/PaytoneOne.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "heading-font";
    src: url(../fonts/ROBO.ttf);
    font-weight: 400;
}

@font-face {
  font-family: 'body-font';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "body-font";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "body-font";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}