:root {
    --primary-color: #FFCD29;
    --text-color:rgba(255,255,255,0.7);
    --text-light: rgba(255,255,255,0.7);
    --bg-dark:#252327;
    --bg-light:#343336;
    --accent-color:white;

    --space-sm: .5rem;
    --space-md: .7rem;
    --space-lg: 1rem;
}

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

[data-theme="light"] {
    --primary-color:#a78001;
    --text-color:rgba(0, 0, 0, 0.7);
    --bg-dark:#e6e6e6;
    --bg-light:#ffffff;
    --accent-color:rgb(0, 0, 0);
}

$font-family: (
    "body" : "body-font",
    "heading" : "heading-font",
    "display" : "display-font"
);

@mixin placeholder-color($color) {
    &::placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: 1;
    }

}

.bg-accent {
    background-color: var(--accent-color);
}
.text-white {
    color: white;
}
.text-light {
    color: var(--text-light);
}
.text-accent {
    color: var(--accent-color);
}
.font-heading {
    font-family: map-get($font-family, "heading");
    font-size: 1.25rem;
}

.text-primary {
    color: var(--primary-color);
}
.text-center {
    text-align: center;
}
.btn {
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 12px 24px;
    color:var(--primary-color);
}
.btn.btn-primary {
    background-color: var(--primary-color);
    color:black;
    font-weight: bold;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.fw-lighter {
    font-weight: lighter;
}
.fw-bold {
    font-weight: bolder;
}
.mb-1 {
    margin-bottom: .75rem;
}
.mb-2 {
    margin-bottom: 1rem;
}
.mb-3 {
    margin-bottom: 1.75rem;
}

.fa-pseudo::after, .fa-pseudo::before {
    font-family: "font awesome 5 free";
    font-weight: bold;
    display: inline-block;
}
